FLASK_API_BASE_URL=http://localhost:5000
DEV_AUTH_BYPASS=1
DEV_AUTH_EMAIL=dev.admin@tm-connect.de
DEV_AUTH_NAME=Local Test Admin
DEV_AUTH_OID=local-dev-admin

OAUTH_AUTHORITY=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URI=
